.banner-card {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 15%;
    left: 55%;
}

.banner-text-2 {
    position: absolute;
    top: 15%;
    right: 50%;
}

.banner-text-3 {
    position: absolute;
    top: 27%;
    left: 55%;
}

.banner-sign {
    position: absolute;
    top: -20%;
    right: 66%;
    font-size: 200px;
    opacity: 20%;
    font-family: cursive;
}

.banner-photo {
    position: absolute;
    top: 10%;
    right: 50%;
}

.banner-photo-2 {
    position: absolute;
    top: 5%;
    left: 50%;
}

.banner-photo-3 {
    position: absolute;
    top: -15%;
    right: 50%;
}

.banner-photo-4 {
    position: absolute;
    top: 27%;
    right: 50%;
}

.logo {
    position: absolute;
    top: 2%;
    left: 3%;
}

.bg-image {
    background-image: url(../img/hero-bg-light.webp);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-shadow {
    background-color: rgba(0, 0, 0, .5);
}
.mx-xl-7 {
    margin-left: 30px;
    margin-right: 90px;
}
a.hover-1 {
    position: relative;
    color: black!important;
}

a.hover-1:hover {
    color:  #388DA8!important;
}
.mx-xl-8 {
    margin-left: 8px;
    margin-right: 40px;
}
.mx-xl-9 {
    margin-left: 0px;
    margin-right: 40px;
}
.px-6 {
    padding-left: 100%;
    padding-right: 100%;
}
.pt-xl-6 {
    padding-top: 35px;
}
.mx-xl-10 {
    margin-right: 50px;
    margin-left: 25px;
}
.mx-xl-11 {
    margin-right: 20px;
    margin-left: 25px;
}